@font-face {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    src: url('MPLUSRounded1c-Bold.ttf');
}

@font-face {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    src: url('MPLUSRounded1c-Light.ttf');
}

.Anchor-Pane{
    -fx-background-color: linear-gradient(#2F2B43,#1c2847);
    -fx-border-radius: 18 18 18 18;
    
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 .scroll-pane {
    -fx-background-color: transparent;
 }

.scroll-bar:vertical .track{
    -fx-background-color :#1c2847;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

#lblTitulo{
    -fx-font-family: 'M PLUS Rounded 1c', sans-serif;
    -fx-font-size: 35px;
    -fx-font-weight: bold;    
}

#paneProfesor:hover{
    -fx-background-color : #d6284b;

}

#imgVolver:hover{
    -fx-effect:dropshadow(three-pass-box,white,10,0.0,2,2);  
}

#paneEstudiante:hover{
    -fx-background-color : #d6284b;

}



.button1
{
    -fx-font-family: 'M PLUS Rounded 1c', sans-serif;
    -fx-background-color : #c42143;
    -fx-background-radius :  30 30 30 30;
}

.button1:hover
{
    -fx-background-color : #FA2C56 ;
    -fx-background-radius :  30 30 30 30;
}

.buttonCursos
{
    -fx-font-family: 'M PLUS Rounded 1c', sans-serif;
    -fx-background-color : #bf245c;
    -fx-background-radius :  30 30 30 30;
}

.buttonCursos:hover
{
    -fx-background-color : #e0105b ;
    -fx-background-radius :  30 30 30 30;
}

.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #c42143, #9e4457);
}

* {
    -fx-darkest-grey-color: #323232;
 }

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: -fx-darkest-grey-color;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(104, 100, 100, 0.329), 10.0 , 0.0 , 0.0 ,10.0);
}

.table-view{
    -fx-background-color: transparent;
 }
 
 .table-view:focused{
     -fx-background-color: transparent;
 }
 
 /* Spaltenköpfe
     Struktur column-header-background -> column-header */
 
 .table-view .column-header-background{
     -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
 }
 
 .table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-text-fill: white;
 }
 
 .table-view .column-header {
     -fx-background-color: transparent;
 }
 
 .table-view .table-cell{
     -fx-text-fill: white;
 }
 
 .table-row-cell{
     -fx-background-color: -fx-table-cell-border-color, #616161;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em; /* 0 */
 }
 
 .table-row-cell:odd{
     -fx-background-color: -fx-table-cell-border-color, #424242;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0.0em; /* 0 */  
 }
 
 .table-row-cell:selected {
     -fx-background-color: #005797;
     -fx-background-insets: 0;
     -fx-background-radius: 1;
 }
 
 .table-view > .virtual-flow > .scroll-bar:vertical,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
 .table-view > .virtual-flow > .scroll-bar:horizontal,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
     -fx-background-color: transparent;
 }
 

 .table-view > .virtual-flow > .scroll-bar > .increment-button, 
 .table-view > .virtual-flow > .scroll-bar > .decrement-button {
     -fx-opacity: 0;
 }*
